In [85]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [86]:
df = pd.read_csv('dataset.csv')
df.head()

                 text  class
0        hi nama saya      1
1         saya senang      0
2  saya sangat senang      0

##### Building tf-idf document vectors

In [87]:
#Get the data field from dataset
data = df['text']
data.head(2)

0    hi nama saya
1     saya senang
Name: text, dtype: object

In [88]:
#Vectorize the data using (fit_transform)
vectorizers = TfidfVectorizer()
vector_of_dataset = vectorizers.fit_transform(datas)

In [97]:
# Show generated vectors using pandas
df2 = pd.DataFrame(vector_of_dataset.toarray().transpose(),
                   index=vectorizers.get_feature_names())
df2

               0         1         2
hi      0.652491  0.000000  0.000000
nama    0.652491  0.000000  0.000000
sangat  0.000000  0.000000  0.720333
saya    0.385372  0.613356  0.425441
senang  0.000000  0.789807  0.547832

##### New Input Data

In [99]:
# Vectorize new data using the vector of data
query = "saya senang"
vector_of_query = vectorizers.transform([query])

##### Cosine Similarity

In [100]:
#Cosine similiraty with all data
results = cosine_similarity(vector_of_dataset,vector_of_query)
results

array([[0.23636982],
       [1.        ],
       [0.69362794]])

In [101]:
# Show similarity using pandas
df3 = pd.DataFrame(results,
                   index=data)
df3

                           0
text
hi nama saya        0.236370
saya senang         1.000000
saya sangat senang  0.693628